.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#selected{
    color: rgb(114, 0, 0);
    font-style: italic;
}
.body{
    background-color: mediumpurple;
}
.text{
    color:navy;
}
.pdf{
    width: 85%;
    height: 850px;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:rgb(0, 0, 0);
    margin-bottom:0;
  }